<div class="main_content">

<p id="notice"><%= notice %></p>

<p>
<%= gravatar_for @user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if logged_in? %>
  <% if current_user.role == 'admin' %>
<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>
<% end %>
<% end %>

<%= link_to 'Change Password', edit_user_path(@user) %>
 |
 <%= link_to 'Home', root_path %>
<% if logged_in? && current_user.role == 'admin' %>
<p><b>Admin Tools</b></p>
 <%= link_to 'Manage Users', users_path %>
 |
 <%= link_to 'Add Photos', new_photo_path %>
<% end %>




</div>