<%= form_with(model: photo, local: true) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :photo_image %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :photo_country %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :photo_city %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year, id: :photo_year %>
  </div>

  <div class="field">
    <%= form.label :month %>
    <%= form.text_field :month, id: :photo_month %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
