<div class="main_content">

<div class="show_image">

<p id="notice"><%= notice %></p>

<p>
  <img src="<%= @photo.image.profile_size %>">
</p>

<p>
  <strong>Country:</strong>
  <%= @photo.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @photo.city %>
</p>

<p>
  <strong>Year:</strong>
  <%= @photo.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @photo.month %>
</p>

<% if logged_in? %>
	<% if current_user.role == 'admin' %>
		<%= link_to 'Edit', edit_photo_path(@photo) %> |
		<%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' } %> |
	<% end %>
<% end %>
<%= link_to 'Back', photos_path %>

</div>
</div>