<!DOCTYPE html>
<html>
  <head>
    <title>Explorer Eric: Explore Your World</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <table class="header_main">
<tr>
<td width = 64%>
	<h1>Explorer Eric</h1>
</td>
<td>
<p class="header_links">
	<%= link_to "Home", root_path, class: "header_links" %>&nbsp;&nbsp;
  <%= link_to "Photos", photos_path, class: "header_links" %>&nbsp;&nbsp;
	<%= link_to "Countries", countries_path,  class: "header_links" %>&nbsp;&nbsp;

  <% if logged_in? %>
      <%= link_to "Profile", current_user, class: "header_links" %>&nbsp;&nbsp;
      <%= link_to "Log Out", logout_path, method: :delete, class: "header_links" %>&nbsp;&nbsp;
  <% else %>
    <%= link_to "Sign Up", signup_path,  class: "header_links" %>&nbsp;&nbsp;
    <%= link_to "Log In", login_path,  class: "header_links" %>&nbsp;&nbsp;
  <% end %>

</p>
</td>
</tr>
</table>
    <%= yield %>
	<div class="copyright">
Copyright 2018 Eric Gauvin
</div>
  </body>
  </html>
